@import "responsive/media";
@import "utils/mixins";
@import "utils/variables";

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a, li{
    text-decoration: none;
    color: #000;
}

object{
    width: 100%;
}

.mainHeader{
    padding: nth($padding, 1);
    box-shadow: 0 0 .5rem rgba(0,0,0,.25);
    position: relative;
        .logo{
            @include font-title;
            text-align: center;
            color: #000;
        }
}

#search{
    @include flexCenterXY;
    padding: nth($padding, 1);
    background-color: darken($color-bg, 4);
    input{
        border-style: none;
        padding: nth($padding, 1);
        background-color: darken($color-bg, 4);
        font-size: 1.2rem;
        width: 10rem;
    }       
}

.intro{
    padding: 2rem 2rem 5rem 2rem;;
    @include txt-center;
    background-color: $color-bg;
    h2{
        padding: 0 nth($padding, 3);
    }
    p{
        margin: 1.5rem 0 3rem 0;
        font-weight: 400;
    }
}

.cta{
    @include flexCenterX;
    padding-top: 1.5rem;
}

.btn-cta{
    padding: nth($padding, 2) nth($padding, 3);
    color: #fff;
    @include radius-shadow;
    @include cta-bg;  
    overflow: hidden;
    position: relative;
    &:hover{
        -webkit-animation: ctaHov 1s ease-in-out both;
                animation: ctaHov 1s ease-in-out both;
        cursor: pointer;
    }
}

@-webkit-keyframes ctaHov{
    0%{opacity: 1;}
    100%{opacity: .7;}
}

@keyframes ctaHov{
    0%{opacity: 1;}
    100%{opacity: .7;}
}

.fonction{
    padding: nth($padding, 3) nth($padding, 2);

        h2{
            margin-bottom: nth($margin, 2);
            @media screen and (min-width: 48rem){
                text-align: center;
            }
        }
        .fonction-list{
            padding: 0;
            list-style: none;
            counter-reset: myCounter;
        }
    }
.fonction-item{
            margin: 1rem 0 1rem .75rem;
            @include radius-shadow;
            background-color: $color-bg;
            padding: nth($padding, 4);
            position: relative;
            @include flexCenterY;
            &::before{
                counter-increment: myCounter 1;
                content: counter(myCounter) " ";
                @include flexCenterXY;
                background-color: $color-primary;
                width: 1.5rem;
                height: 1.5rem;
                color: #fff;
                border-radius: 50%;
                position: absolute;
                left: -.8rem;
            }
            &:hover{
                background-color: lighten($color-primary, 35%);
                cursor: pointer;
            }
}

.icon-fonction{
    padding-left: .5rem;
}
.fonction-txt{
    font-weight: bold;
    padding-left: nth($padding, 3);
    }
.icon-fonction:hover{
    color: $color-primary;
}

.new{
    @include new;
}

.list-restaurant{
    padding: 4rem nth($padding, 2);
    background-color: $color-bg;
}

.restauContainer{
    @include flexColumn;
    margin: nth($margin, 2) 0;
    @include img-fit-radius;
    position: relative;
    overflow: hidden;
        .restauImg{
            @include img-fit-container;
        }
            img{
                @include img-fit;
            }
}

.restauCaption{
    padding: nth($padding, 1) nth($padding, 2);
    @include spaceBet;
    color: $color-default;
    line-height: 1.5;
    background-color: #fff;
    cursor: pointer;
        p{
            font-size: 1.2rem;
            white-space: nowrap;
        }
        .heartContainer{
            @include flexCenterY;
        }
}

footer{
    background-color: #353535;
    color: $color-light;
    @include flexColumn;
    padding: nth($padding, 4) ;
        .logo{
            font-family: 'Shrikhand', sans-serif;
            padding-bottom: 1rem;
            font-size: 1.3rem;
        }
        a{
            color: $color-light;
        }
}
.iconFootContainer{
    @include flexRow;
    align-items: center;
    .icon5{
        margin-right: .5rem;
    }
    .icon7{
        margin-right: .7rem;
    }
    
}
.txtFooter{
    font-size: 1rem;
    line-height: 1.8;
}

.restauHeader{
    @include flexCenterX;
    text-align: center;
    padding: 0.5rem 0 .5rem 1rem;
    position: relative;
    i::before{
        position: absolute;
        left: 1rem;
    }
    .logo{
        @include font-title;
        color: #000;
    }
}

.banner{
    height: 300px;
    overflow: hidden;
    img{
        @include img-fit;
    }
}

.menuContainer{
    background-color: $color-bg;
    margin-top: -4rem;
    border-radius: 3rem 3rem 0 0;
    position: relative;
    padding-bottom: 3rem;
    .restauName{
        @include flexCenterY;
        @include spaceBet;
        padding: nth($padding, 2);
    }
        h2{
            @include font-title;
        }
}

.menu-title{
    padding-left: nth($padding, 2);
    position: relative;
    font-weight: normal;
    margin-bottom: .5rem;
    &::after{
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: $color-tertiary;
        position: absolute;
        left: 1rem;
        bottom: -.3rem;
    }
}

.menu{
    margin-top: 2.5rem;
}

// ANIMATION DU COEUR EN :hover
.favIcon{
    height: 2rem;
    width: 2rem;
    position: relative;
    background-color: rgb(139, 139, 139);
    margin: .5rem;
    padding: .2rem;
    cursor: pointer;
    &:hover::before {
        opacity: 1;
      } 
      &::before {
        content: "";
        opacity: 0;
        transition: .5s;
        background: linear-gradient(180deg, $color-primary 10%, $color-secondary 90%);
      }
}

.favIcon::before, .fav, .favRestau{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.favIcon:hover .fav-empty{
    opacity: 0;
    -webkit-animation: fill 1s ease-in-out both;
            animation: fill 1s ease-in-out both;
}
@-webkit-keyframes fill {
    0%{opacity: 1;}
    30%{opacity: .7;}
    60%{opacity: .4;}
    70%{opacity: .2;}
    100%{opacity: 0;}
}
@keyframes fill {
    0%{opacity: 1;}
    30%{opacity: .7;}
    60%{opacity: .4;}
    70%{opacity: .2;}
    100%{opacity: 0;}
}

.fav{
    background-color: #fff;
    mix-blend-mode: lighten;
    @include flexCenterXY;
    border: 1px solid transparent;
}
/* Le coeur dans la page d'accueil se trouve sur un bg white alors que dans les pages
restaurants, le bg est plutôt gris*/
.favRestau{
    background-color: #f6f6f6;
    mix-blend-mode: lighten;
    @include flexCenterXY;
    border: 1px solid transparent;
}

// ANIMATION APPARITION SMOOTH DES CARTES DANS LE MENU

.item-card{
    @include itemCard;
    @include animationCard;
    max-width: 100%;
    &:hover{
        cursor: pointer;
        .item-select{
            transform: translateX(-9%);
        }
        .item-appear{
            overflow: visible;
        }
        .item-price{
            transform: translateX(-80%);
            transition: .5s ease-in-out;
        }
        .fa-check-circle{
            -webkit-animation: check .5s ease-in-out backwards;
                    animation: check .5s ease-in-out backwards;
        }
    }
}
@-webkit-keyframes fadein-bottom{
    0%{
        transform: translateY(2rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadein-bottom{
    0%{
        transform: translateY(2rem);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.item-txt{
    @include spaceOverFlow;
    flex-grow: 1;
    width: 200%;
    &:hover{
        @include spaceOverFlow;
    }
}
.item-name{
    @include itemName;
    &:hover{
        @include spaceOverFlow;
    }
}
.item-desc{
    @include spaceOverFlow;
    &:hover{
        @include spaceOverFlow;
    }
}

.item-price{
    @include bold;
    display: flex;
    align-items: flex-end;
    margin-right: .5rem;
    transform: translateX(80%);
    transition: .5s ease-in-out;
}

.card1{
    -webkit-animation-delay: map-get($delay-starter, card1);
            animation-delay: map-get($delay-starter, card1);
}
.card2{
    -webkit-animation-delay: map-get($delay-starter, card2);
            animation-delay: map-get($delay-starter, card2);
}
.card3{
    -webkit-animation-delay: map-get($delay-starter, card3);
            animation-delay: map-get($delay-starter, card3);
}
.card4{
    -webkit-animation-delay: map-get($delay-starter, card4);
            animation-delay: map-get($delay-starter, card4);
}
.card5{
    -webkit-animation-delay: map-get($delay-main, card5);
            animation-delay: map-get($delay-main, card5);
}
.card6{
    -webkit-animation-delay: map-get($delay-main, card6);
            animation-delay: map-get($delay-main, card6);
}
.card7{
    -webkit-animation-delay: map-get($delay-main, card7);
            animation-delay: map-get($delay-main, card7);
}
.card8{
    -webkit-animation-delay: map-get($delay-dessert, card8);
            animation-delay: map-get($delay-dessert, card8);
}
.card9{
    -webkit-animation-delay: map-get($delay-dessert, card9);
            animation-delay: map-get($delay-dessert, card9);
}
.card10{
    -webkit-animation-delay: map-get($delay-dessert, card10);
            animation-delay: map-get($delay-dessert, card10);
}

// ANIMATION APPARITION DE LA SELECTION VERTE EN :HOVER
.item-appear{
    -webkit-animation: fadein-left .5s linear both;
    animation: fadein-left .5s linear both;
    overflow: hidden;
}
@-webkit-keyframes fadein-left{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes fadein-left{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@-webkit-keyframes translate-in{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0%);}
}

@keyframes translate-in{
    0%{transform: translateX(100%);}
    100%{transform: translateX(0%);}
}

.item-select{
    @include flexCenterXY;
    background-color: $color-tertiary;
    width: 8rem;
    margin: -1rem -1.1rem -1rem -1rem;
    color: #fff;
    transform: translateX(100%);
    transition: all .5s ease-in-out;
}

@-webkit-keyframes check{
    0%{transform: rotate(-270deg);}
    100%{transform: rotate(0%);}
}

@keyframes check{
    0%{transform: rotate(-270deg);}
    100%{transform: rotate(0%);}
}

// LOADER
.loader{
    // Je donne les mesures nécessaires pour couvrir l'ensemble de mon loader
    @include flexCenterXY;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    // je lui ajoute une opacity et un bg pour masquer le site
    opacity: 0.98;
    background-color: #fff;
    // Animation pour le démarrage de la page
    -webkit-animation: loading 3s ease-in-out forwards;
            animation: loading 3s ease-in-out forwards;
}
.circle{
    // Je lui donne des mesures 
    width: 2rem;
    height: 2rem;
    margin: 5px;
    // Je lui donne une forme ronde 
    border-radius: 50% 20%;
    // J'anime mes circle pour qu'ils grossissent
    transform: scale(0); //car la valeur par défaut de scale est de 1
    -webkit-animation: grow 1s linear infinite;
            animation: grow 1s linear infinite;
}
    // Je donne des couleurs à mes éléments circle
    .circle1{
        background-color: $color-primary;
    }
    .circle2{
        background-color: $color-secondary;
        // je delay l'animation de celui-ci
        -webkit-animation-delay: .20s;
                animation-delay: .20s;
    }
    .circle3{
        background-color: $color-tertiary;
        // je delay l'animation de celui-ci
        -webkit-animation-delay: .40s;
                animation-delay: .40s;
    }

// Je paramètre mes animations
@-webkit-keyframes loading{
    0%{visibility: visible;}
    100%{visibility: hidden;}
}
@keyframes loading{
    0%{visibility: visible;}
    100%{visibility: hidden;}
}
@-webkit-keyframes grow{
    0%{transform: scale(1);}
    50%{transform: scale(1.5);}
    100%{transform: scale(2);}
}
@keyframes grow{
    0%{transform: scale(1);}
    50%{transform: scale(1.5);}
    100%{transform: scale(2);}
}