// MIXIN 
@import 'variables';

@mixin flexCenterXY{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterX{
    display: flex;
    justify-content: center;
}
@mixin flexCenterY{
    display: flex;
    align-items: center;
}

@mixin flexColumn{
    display: flex;
    flex-direction: column;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin spaceBet{
    display: flex;
    justify-content: space-between;
}

@mixin font-title{
    font-family: 'Shrikhand', sans-serif;
    font-weight: normal;
}

@mixin txt-center{
    text-align: center;
}

@mixin radius-shadow{ // Cadre des boutons CTA
    border: none;
    border-radius: map-get($global-size, cta);
    box-shadow: 0rem .2rem .5rem lightgrey;
}

@mixin cta-bg{
    background-image: linear-gradient(355deg, $color-primary, $color-secondary);
    font-size: 1rem;
}

@mixin img-fit-container{
        border-top-left-radius: 1.3rem;
        border-top-right-radius: 1.3rem;
        overflow: hidden;
        height: 200px;
}

@mixin img-fit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@mixin img-fit-radius{
    border: none;
    border-radius: map-get($global-size, img-fit);
    box-shadow: 0rem .2rem .5rem lightgrey;
}

@mixin new{
    background-color: $color-tertiary;
    color: #1A9778;
    padding: .5rem;
    border-radius: .125rem;
    position: absolute;
    top: 1rem;
    right: .75rem;
    font-weight: bold;
}

@mixin itemCard{
    border-radius: 1rem;
	box-shadow: 0rem 0.2rem 0.5rem lightgrey;
	background-color: #fff;
	display: flex;
	align-items: end;
	justify-content: space-between;
	padding: .7rem;
	margin: 1rem;
}

@mixin itemName{
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1.5;
}

@mixin bold{
    font-weight: bold;
}

@mixin menuTitle{
    padding-left: nth($padding, 2);
}

@mixin animationCard{
    //@keyframe name duration timing-function fill-mode
    animation: fadein-bottom 1s cubic-bezier(0.40, 0.575, 0.565, 1) both;
}