// VARIABLES, LISTES et MAPS

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg: #F6F6F6;
$color-default: #000;
$color-light: #fff;
$padding: .5rem 1rem 2rem 1.5rem;
$margin: 1rem 1.5rem 2rem 3rem;
$global-size: (header: 9rem, button: 12rem, cta: 2rem, img-fit: 1rem);
$delay-starter: (card1: 0.1s, card2: 0.2s, card3: 0.3s, card4: 0.4s);
$delay-main: (card5: 0.3s, card6: 0.4s, card7: 0.5s);
$delay-dessert: (card8: 0.6s, card9: 0.7s, card10: 0.8s);


