// MIXIN 
@import 'variables';

@mixin flexCenterXY{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterX{
    display: flex;
    justify-content: center;
}
@mixin flexCenterY{
    display: flex;
    align-items: center;
}

@mixin flexColumn{
    display: flex;
    flex-direction: column;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin spaceBet{
    display: flex;
    justify-content: space-between;
}

@mixin font-title{
    font-family: 'Shrikhand', sans-serif;
}

@mixin txt-center{
    text-align: center;
}

@mixin radius-shadow{
    border: none;
    border-radius: map-get($global-size, cta);
    box-shadow: 0rem .2rem .5rem lightgrey;
}

@mixin cta-bg{
    background-image: linear-gradient(355deg, $color-primary, $color-secondary);
    font-size: 1rem;
}