// VARIABLES, LISTES et MAPS

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg: #F6F6F6;
$padding: .5rem 1rem 2rem 1.5rem;
$margin: 1rem 1.5rem 2rem 3rem;
$global-size: (header: 9rem, button: 12rem, cta: 2rem);

