// PARAMETRES PAR DEFAUT 
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import "../utils/mixins";
@import "../utils/variables";

//  TABLETTE 
@media all and (min-width: 768px) and (max-width: 1023px){
.item-txt{
    width: 88%!important;
}

footer{
    align-items: center;
}

} // fermeture paramètres Tablette

// PC 
@media all and (min-width: 1024px){
.accueil{
    display: flex;
    .intro{
        padding: 2rem 2rem 3rem 2rem!important;
        text-align: start;
        h2{
            padding: 0;
        }
    }
}

.fonction{
    flex-grow: 1;
    .fonction-list{
        @include flexCenterX;
        .fonction-item{
            margin: 0 1rem;
        }
        .fonction-txt{
            padding-left: 1rem!important;
            font-weight: normal; 
        }
    }
}

.list-restaurant{
    background-color: inherit!important;
    padding: 2rem 1rem!important;
    h2{
        margin-left: 1rem;
    }
    &__Card{
        display: flex;
        justify-content: space-around;
    }
}
.restauContainer{
    width: 24%;
}

footer{
    flex-direction: row!important;
    justify-content: space-around!important;
    height: 16vh;
    .logo{
        padding-bottom: 0!important;
    }
    .iconFootContainer{
        display: block!important;
    }
}

//*page restaurant
.restauHeader{
    i::before{
        left: 3rem;
    }
}

.menuContainer{
    margin: -4rem 1rem 0 1rem;
    .restauName{
        justify-content: center!important;
        flex-direction: column-reverse;
        h2{
            font-size: 2rem;
        }
    }
    .menus{
        display: flex;
        .menu{
            flex-grow: 1;
        }
    }
}
.cta{
	margin-top: 2.5rem;
}

} // fermeture paramètres PC 