// PARAMETRES PAR DEFAUT 
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import "../utils/mixins";
@import "../utils/variables";

//  TABLETTE 
@media all and (min-width: 768px) and (max-width: 1023px){



} // fermeture paramètres Tablette

// PC 
@media all and (min-width: 1024px){
main{
    background: url("specialBG.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: left center;
}

.accueil{
    display: flex;
    max-width: 100%;
    flex-direction: row-reverse;
    .intro{
        width: 50%;
        padding: 0;
    }
    .fonction{
        width: 30%;
        margin: 4rem;
        padding: 0;
    }
}

.intro{
    background-color: inherit!important;
    margin: 4rem!important;
    p{
        font-size: 1.2rem;
        margin: 6.3rem 0!important;
    }
}

.btn-cta{
    font-size: 1.2rem!important;
}

.container > h2,
.intro > h2,
.list-restaurant > h2{
    font-size: 1.5rem!important;
    padding: .5rem 0!important;
    color: #fff;
    background: linear-gradient(45deg, $color-tertiary, #6b6b83, #3b8d99, #D16BA5);    
    background-size: 400%;
    animation: bg-gradient 12s ease infinite;
    border-radius: 50rem 120rem;
}

.fonction-txt{
    font-weight: normal!important;
}

@keyframes bg-gradient{
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.fonction-txt{
    font-size: 1.2rem;
}

.list-restaurant{
    background-color: inherit!important;
    h2{
        text-align: center;
        font-size: 2rem;
    }
    &__Card{
        display: flex;
        justify-content: space-around;
        padding-top: 2rem;
    }
}
.restauContainer{
    width: 24%;
}

footer{
    align-items: center;
}

//*page restaurant
.restauHeader{
    i::before{
        left: 3rem;
    }
}

.menuContainer{
    margin: -4rem 1rem 0 1rem;
    .restauName{
        justify-content: center!important;
        flex-direction: column-reverse;
        h2{
            font-size: 2rem;
        }
        .favIcon::before{
            opacity: 1;
        }
    }
    .menus{
        display: flex;
        .menu{
            flex-grow: 1;
        }
    }
}
.cta{
	margin-top: 2.5rem;
}
        


} // fermeture paramètres PC 